<H3>THIS IS WHERE YOUR PORTFOLIO STATISTICS GO!</H3>

<h3>THIS IS THE ID</h3>

<H3>CREATE A NEW POSITION HERE</H3>

<%= @portfolio.id %>

<%= link_to 'Back to Portfolios', portfolios_path %>

<%= link_to 'New Position', new_portfolio_position_path(portfolio_id: params[:id]) %>