<h3>
  LIST OF TRADEABLE SECURITIES
</h3>

<ul>
  <% @stocks.each do |stock| %>
    <li>
      <%= link_to stock.ticker_symbol, edit_stock_path(stock.id) %> - Price <%= stock.price %>
    </li>
  <% end %>
</ul>


<%= link_to 'Home', portfolios_path %>

<%= link_to 'New Stock', new_stock_path %>